<!-- A wrapper for all the blog posts -->
<div class="posts">
    <h1 class="content-subhead">About</h1>

    <!-- A single blog post -->
    <section class="post">
        <header class="post-header">
            <h2 class="post-title">Welcome To Embersy</h2>

            <p class="post-meta">
                Your nifty kickstart package for building ambitious web apps.
            </p>
        </header>

        <div class="post-description">
            <p>
                It currently comprises of an EmberJs 2.x frontend with a Symfony 3.x powered backend both latest versions and preconfigured to be production ready. 

                Embersy is the same package powering <a target="_blank" href="https://campus-discounts.com">Campus Discounts</a> as such we have an active interest in maintaining it, that said pull requests are most welcome.
            </p>
        </div>
    </section>

    <section class="post">
        <header class="post-header">
            <img width="48" height="48" alt="EmberJS" class="post-avatar" src="/img/ember.png"/>

            <h2 class="post-title">What is EmberJS and why use it?</h2>

            <p class="post-meta">
                Ember.js is a framework for creating ambitious web applications
            </p>
        </header>

        <div class="post-description">
            <p>
                Ember powers some of the world's largest web apps like LinkedIn.
            </p>
        </div>
    </section>

    <section class="post">
        <header class="post-header">
            <img width="48" height="48" alt="Symfony" class="post-avatar" src="/img/symfony.png"/>

            <h2 class="post-title">What is Symfony and why use it?</h2>

            <p class="post-meta">
                Symfony is a set of PHP Components, a Web Application framework, a Philosophy, and a Community — all working together in harmony.
            </p>
        </header>

        <div class="post-description">
            <p>
                Symfony powers some of the world's largest web apps like Daily Motion.
            </p>
        </div>
    </section>

</div>
