<div>
	<div style="display: flex; flex-direction: column; width: 100%; min-height: 100vh; justify-content: center; align-items: center;">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1 mdl-color--primary"></div>
            <div class="sk-child sk-bounce2 mdl-color--primary"></div>
            <div class="sk-child sk-bounce3 mdl-color--primary"></div>
        </div>
        <p>
            We're in Fastboot Mode!
        </p>
	</div>
</div>