<form {{action "register" on="submit"}} class="pure-form">
    <fieldset class="pure-group">
        <legend>Registration Form</legend>

        <input type="text" name="username" class="pure-input-1-2" placeholder="Username">
        <input type="password" name="password" class="pure-input-1-2" placeholder="Password">
        <input type="email" name="email" class="pure-input-1-2" placeholder="Email">
    </fieldset>

    <fieldset class="pure-group">
        <input type="text" name="firstname" class="pure-input-1-2" placeholder="First Name">
        <input type="text" name="lastname" class="pure-input-1-2" placeholder="Last Name">
    </fieldset>

    <button type="submit" class="pure-button pure-input-1-2 pure-button-primary">Register</button>
</form>